.card{
    border: 2px solid white;
    padding: 30px 90px; 
    height: 800px;
    margin-top: 70px;
    margin-bottom: 100px; 
    border-radius: 10px;
    
    
    -webkit-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
    -moz-box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
     box-shadow: -5px 2px 62px 8px rgba(240,231,240,1);
}

button{
    /* border-radius: 30px; */
    height: 60px;
    width: 140px;
    
}

.validation{
    color: red;
}