<!-- <nav class="navbar navbar-default" >
    <div class="container-fluid" style="background-color: red;">
      <div class="navbar-header">
        <a class="navbar-brand"></a>
      <ul class="nav navbar-nav">
        <li class=""><a routerLink="title">Title</a></li>
        <li><a routerLink="overview">overviewTitle</a></li>
        <li><a routerLink="architects">Architect's Note</a></li>
        <li><a routerLink="location">Location & Contact Details</a></li>
        <li><a routerLink="gallery">Gallery</a></li>
        <li><a routerLink="masterplan">Master Plan</a></li>
        <li><a routerLink="floorplan">Floor Plans</a></li>
        <li><a routerLink="specification">Specification</a></li>
        <li><a routerLink="broucher">Broucher</a></li>
      </ul>
    </div>
    </div>
  </nav>
  <router-outlet></router-outlet> -->
  <div class="navbar" >
    <a routerLink="title">Title</a>
    <a routerLink="overview">overviewTitle</a>
    <a routerLink="architects">Architect's Note</a>
    <a routerLink="location">Location & Contact Details</a>
    <a routerLink="gallery">Gallery</a>
    <a routerLink="masterplan">Master Plan</a>
    <a routerLink="floorplan">Floor Plans</a>
    <a routerLink="specification">Specification</a>
    <a routerLink="broucher">Broucher</a>
  </div>
  
  <router-outlet></router-outlet>
  
  
  <!-- <div class="navbar fixed-top">
  <a routerLink="title">Title</a>&nbsp;&nbsp;
  <a routerLink="overview">overview</a>&nbsp;&nbsp;
  <a routerLink="architects">Architect's Note</a>&nbsp;&nbsp;
  <a routerLink="location">Location & Contact Details</a>&nbsp;&nbsp;
  <a routerLink="gallery">Gallery</a>&nbsp;&nbsp;
  <a routerLink="masterplan">Master Plan</a>&nbsp;&nbsp;
  <a routerLink="floorplan">Floor Plans</a>&nbsp;&nbsp;
  <a routerLink="specification">Specification</a>&nbsp;&nbsp;
  <a routerLink="broucher">Broucher</a>&nbsp;&nbsp;
  <router-outlet></router-outlet>
  
  </div> -->
  
  <!-- <div  class="collapse navbar-collapse w2-bar w2-green ">
      <ul class="nav navbar-nav nav-tab">
          
          <li><a routerLink="title" >Title</a></li>
          <li><a routerLink="overview" >Overview</a></li>
          <li><a routerLink="architects" >Architect's Note</a></li>
          <li><a routerLink="location" >Location & Contact Details</a></li>
          <li><a routerLink="gallery" >Gallery</a></li>
          <li><a routerLink="masterplan" >Master Plan</a></li>
          <li><a routerLink="floorplan" >Floor Plans</a></li>
          <li><a routerLink="specification" >Specifications </a></li>
          <li><a routerLink="broucher" >Broucher </a></li>
  
      </ul>
  </div>
  <router-outlet></router-outlet> -->