<div id="what-we-do">
    <div class="container">
        <div class="card">
        <form action="" [formGroup]="Projectmasterplan">
    
            <div class="row">
                <h3>Site Master Plan Details</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="" class="form-group">Specification 1</label>
                    <input type="text" name="" id="" placeholder="Enter Specification 1" class="form-control form-group" formControlName="speciFication1">
                    <div class="validation" *ngIf="Projectmasterplan.controls['speciFication1'].hasError('required')
                    && (Projectmasterplan.controls['speciFication1'].touched||Projectmasterplan.controls['speciFication1'].dirty)">
                    <b>This field is requried</b>
                  </div>
                </div>
    
                <div class="col-sm-4">
                    <label for="" class="form-group">Specification 2</label>
                    <input type="text" name="" id="" placeholder="Enter Specification 2" class="form-control form-group"formControlName="speciFication2">
                    <div class="validation" *ngIf="Projectmasterplan.controls['speciFication2'].hasError('required')
                    && (Projectmasterplan.controls['speciFication2'].touched||Projectmasterplan.controls['speciFication2'].dirty)">
                    <b>This field is requried</b>
                  </div>
                </div>
    
    
                <div class="col-sm-4">
                    <label for="" class="form-group">Specification 3</label>
                    <input type="text" name="" id="" placeholder="Enter Specification 3" class="form-control form-group" formControlName="speciFication3">
                    <div class="validation" *ngIf="Projectmasterplan.controls['speciFication3'].hasError('required')
                    && (Projectmasterplan.controls['speciFication3'].touched||Projectmasterplan.controls['speciFication3'].dirty)">
                    <b>This field is requried</b>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="" class="form-group">Specification 4</label>
                    <input type="text" name="" id="" placeholder="Enter SPecification 4" class="form-control form-group"formControlName="speciFication4">
                    <div class="validation" *ngIf="Projectmasterplan.controls['speciFication4'].hasError('required')
                    && (Projectmasterplan.controls['speciFication4'].touched||Projectmasterplan.controls['speciFication4'].dirty)">
                    <b>This field is requried</b>
                  </div>
                </div>
                <div class="col-sm-4">
                    <label for="" class="form-group">Specification 5</label>
                    <input type="text" name="" id="" placeholder="Enter Specification 5" class="form-control form-group"formControlName="speciFication5">
                    <div class="validation" *ngIf="Projectmasterplan.controls['speciFication5'].hasError('required')
                    && (Projectmasterplan.controls['speciFication5'].touched||Projectmasterplan.controls['speciFication5'].dirty)">
                    <b>This field is requried</b>
                  </div>
                </div>
    
    
                <div class="col-sm-4">
                    <label for="" class="form-group">Specification 6</label>
                    <input type="text" name="" id="" placeholder="Enter Specification 6" class="form-control form-group"formControlName="speciFication6">
                    <div class="validation" *ngIf="Projectmasterplan.controls['speciFication6'].hasError('required')
                    && (Projectmasterplan.controls['speciFication6'].touched||Projectmasterplan.controls['speciFication6'].dirty)">
                    <b>This field is requried</b>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="" class="form-group">Specification 7</label>
                    <input type="text" name="" id="" placeholder="Enter Specification 7" class="form-control form-group"formControlName="speciFication7">
                    <div class="validation" *ngIf="Projectmasterplan.controls['speciFication7'].hasError('required')
                    && (Projectmasterplan.controls['speciFication7'].touched||Projectmasterplan.controls['speciFication7'].dirty)">
                    <b>This field is requried</b>
                  </div>
                </div>
                <div class="col-sm-4">
                    <label for="" class="form-group">Specification 8</label>
                    <input type="text" name="" id="" placeholder="Enter Specification 8" class="form-control form-group"formControlName="speciFication8">
                    <div class="validation" *ngIf="Projectmasterplan.controls['speciFication8'].hasError('required')
                    && (Projectmasterplan.controls['speciFication8'].touched||Projectmasterplan.controls['speciFication8'].dirty)">
                    <b>This field is requried</b>
                  </div>
                </div>
                <div class="col-sm-4">
                    <label for="" class="form-group">Specification 9</label>
                    <input type="text" name="" id="" placeholder="Enter Specification 9" class="form-control form-group"formControlName="speciFication9">
                    <div class="validation" *ngIf="Projectmasterplan.controls['speciFication9'].hasError('required')
                    && (Projectmasterplan.controls['speciFication9'].touched||Projectmasterplan.controls['speciFication9'].dirty)">
                    <b>This field is requried</b>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="" class="form-group">Specification 10</label>
                    <input type="text" name="" id="" placeholder="Enter Specification 10" class="form-control form-group"formControlName="speciFication10">
                    <div class="validation" *ngIf="Projectmasterplan.controls['speciFication10'].hasError('required')
                    && (Projectmasterplan.controls['speciFication10'].touched||Projectmasterplan.controls['speciFication10'].dirty)">
                    <b>This field is requried</b>
                  </div>
                </div>
                <div class="col-sm-4">
                    <label for="" class="form-group">Specification 11</label>
                    <input type="text" name="" id="" placeholder="Enter Specification 11" class="form-control form-group"formControlName="speciFication11">
                    <div class="validation" *ngIf="Projectmasterplan.controls['speciFication11'].hasError('required')
                    && (Projectmasterplan.controls['speciFication11'].touched||Projectmasterplan.controls['speciFication11'].dirty)">
                    <b>This field is requried</b>
                  </div>
                </div>
                <div class="col-sm-4">
                    <label for="" class="form-group">Specification 12</label>
                    <input type="text" name="" id="" placeholder="Enter Specification 12" class="form-control form-group"formControlName="speciFication12">
                    <div class="validation" *ngIf="Projectmasterplan.controls['speciFication12'].hasError('required')
                    && (Projectmasterplan.controls['speciFication12'].touched||Projectmasterplan.controls['speciFication12'].dirty)">
                    <b>This field is requried</b>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-6">
                    <label for="" class="form-group"> Master Plan Picture</label>
                    <input type="file" name="" id="">
                   
                </div>
            </div>
            <div class="">
                <button type="submit" class="btn btn-warning" style="margin-left: 1%;"(click)="GoBackToGalleryPage()">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <b>  PREVIOUS</b></button>
            
                        <button type="submit" class="btn btn-success" style="margin-left: 77%;"(click)="saveAction(Projectmasterplan.value)"><b> SAVE & NEXT</b>&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
        </form>
        </div>
       </div>
    </div>
    