<div class="contianer-fluid  image">
  <!-- <div class="row">
        <div class="col  fixed-top">
          <nav class="navbar navbar-expand-sm bg-lightnavbar-light "
            style="background-color: #5f5f5f;;height: 50px;width:2000px;">
            <a class="navbar-brand" href="#">
              <img src="assets\car.jpg" alt="logo" style="width:70px;">
            </a>
            <ul class="navbar-nav justify-content-center" style="text-align:center">
              <li class="nav-item text-darkt">
                <span style="text-align: center" style="color: white; font-size:30px;">𝕮𝖆𝖗𝖘𝖕𝖆</span>
              </li>
            </ul>
          </nav>
        </div>
      </div> -->

  <div class="row">
    
    <div class="col-sm-2">
       <a class="navbar-brand" href="#">
          <img src="assets/img/black_logo3.png" alt="logo" >
        </a>
      <div class="sidebar">
        <!-- <a class="navbar-brand" href="#">
          <img src="assets\car.jpg" alt="logo" style="width:70px;">
        </a> -->
        <a class="active" routerLink="/dashboard"><i class="fa fa-fw fa-home"></i>&nbsp;&nbsp;&nbsp;Dashboard </a>
        <a routerLink="./mainslider"><i class="fa fa-map-o " aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Main slider</a>
        <a routerLink="./project"><i class="fa fa-fw fa-share" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Projects</a>
        <a routerLink="bookinglist"><i class="fa fa-list-ol"></i>&nbsp;&nbsp;&nbsp;NA</a>
        <a routerLink=""><i class="fa fa-sticky-note"></i>&nbsp;&nbsp;&nbsp;NA</a>
        <a routerLink=""><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;NA</a>
        <a routerLink=""><i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;NA</a>
        <a routerLink=""><i class="fa fa-fw fa fa-bell" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;NA </a>
      </div>
    </div>
    <div class="col-sm-10">      
        </div>
  </div>
</div>
<router-outlet></router-outlet>